/* --------------------------------------------------
 *
 * BASIC STYLES
 *
 -------------------------------------------------- */
@charset "UTF-8";
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
}

img {
    border: 0;
}

:not(:root) {
    overflow: hidden;
}

ul, ol {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #333333 url('../images/pattern-darkblue.jpg');
    color: #333;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
}

.content-wrapper {
    position: relative;
}

/* --------------------------------------------------
 *
 * BUTTON STYLES
 *
 -------------------------------------------------- */
.nav-btn {
    background: transparent url("../images/nav-icon.svg") left center no-repeat;
    background-size: 1.875em 1.5em;
    border: 0;
    display: block;
    height: 2.25em;
    opacity: .7;
    outline: none;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    width: 2.625em;
}
.no-svg .nav-btn {
    background-image: url("../images/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
    opacity: 1;
}

.close-btn {
    background: transparent url("../images/close-btn.svg") left center no-repeat;
    border: 0;
    display: block;
    height: 2.25em;
    opacity: .7;
    outline: none;
    overflow: hidden;
    text-indent: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    width: 2.625em;
}
.no-svg .close-btn {
    background-image: url("../images/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
    opacity: 1;
}

/* --------------------------------------------------
 *
 * MAIN CONTENT STYLES
 *
 -------------------------------------------------- */
.main-content {
    background: #fff;
    display: inline-block;
    float: left;
    margin-left: 0;
    min-height: 100vh;
    transition: all .3s ease-out;
    width: 100vw;
    z-index: 1;
}
.main-content.show-navigation {
    margin-left: 20em;
}

.block {
    margin: 0 auto;
    padding: 1.5em 1.25em;
    position: relative;
}

/* --------------------------------------------------
 *
 * HEADER BLOCK STYLES
 *
 -------------------------------------------------- */
.banner {
    background: #00A4E4;
    color: #fff;
    position: relative;
}
.banner .nav-btn {
    position: absolute;
    left: 1.5em;
}
.banner .block-title {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

/* --------------------------------------------------
 *
 * ARTICLE STYLES
 *
 -------------------------------------------------- */
.prose p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.prose p:last-child {
    margin-bottom: 0;
}

/* --------------------------------------------------
 *
 * SIDEBAR AND NAVIGATION STYLES
 *
 -------------------------------------------------- */

 /* BASIC SIDEBAR STYLES */
.sidebar {
    color: transparent;
    display: inline-block;
    float: left;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 20em;
    z-index: -1;
}
.sidebar.is-open {
    z-index: 2;
}
.sidebar .block-title {
    display: none;
}

/* BASIC NAVIGATION STYLES */
.navigation ul {
    width: 100%;
}
.navigation li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.navigation li a {
    color: #ccc;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.5em;
    outline: none;
    padding: 0.85714em 2.14286em;
}
.navigation li a:focus, .navigation li a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.navigation li.is-active a {
    color: #fff;
}
